<div class="animated fadeIn" ng-controller="GarageOwnerFormCtrl">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong ng-show="mode==='EDIT'">Edit Owner</strong>
                    <strong ng-show="mode==='ADD'">Add Owner</strong>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" ng-model="item.name" id="name"
                                       placeholder="Name">
                                <div class="card card-inverse card-danger text-center" ng-show="errors.name">
                                    <div ng-repeat="error in errors.name" class="">{{error}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" class="form-control" ng-model="item.surname" id="surname"
                                       placeholder="Surname">
                            </div>
                            <div class="card card-inverse card-danger text-center" ng-show="errors.surname">
                                <div ng-repeat="error in errors.surname" class="">{{error}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="text" class="form-control" ng-model="item.email" id="email"
                                       placeholder="E-mail">
                                <div class="card card-inverse card-danger text-center" ng-show="errors.email">
                                    <div ng-repeat="error in errors.email" class="">{{error}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" ng-model="item.phone" id="phone"
                                       placeholder="Name">
                            </div>
                            <div class="card card-inverse card-danger text-center" ng-show="errors.phone">
                                <div ng-repeat="error in errors.phone" class="">{{error}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="newsltter">Newsletter</label><br/>
                                <label class="switch switch-text switch-info">
                                    <input ng-true-value="1" ng-false-value="0" type="checkbox"
                                           ng-model="item.newsletter" class="switch-input"
                                           id="newsltter" checked>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                                <div class="card card-inverse card-danger text-center" ng-show="errors.newsletter">
                                    <div ng-repeat="error in errors.newsletter" class="">{{error}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="form-group">
                                <label for="sex">Sex</label>
                                <select class="form-control" ng-model="item.sex"  ng-options="o.key as o.value for o in myFixedSexes">
                                </select>
                                <div   class="card card-inverse card-danger text-center" ng-show="errors.sex">
                                    <div ng-repeat="error in errors.sex" class="">{{error}}</div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="card-footer text-right">
                    <button type="button" ng-click="save()" class="btn btn-sm btn-success pull-right"><i
                            class="fa fa-dot-circle-o"></i> Save
                    </button>
                    <button type="button" ng-click="goBack()" class="btn btn-sm btn-info pull-left"><i
                            class="fa fa-angle-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</div>
