<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
               <li class="divider"></li>
            <li class="nav-title">
                Garage
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.garage.owners"><i class="fa fa-male"></i> Car Owners</a>
                <a class="nav-link" ui-sref-active="active" ui-sref="app.garage.cars"><i class="fa fa-car"></i> Cars</a>
                <a class="nav-link" ui-sref-active="active" ui-sref="app.garage.carParts"><i class="fa fa-cogs"></i> Part of Cars</a>
            </li>
        </ul>
    </nav>
</div>
